{% extends 'base.html' %}
{% block title%}
<head>
	<title>SICOR-REGISTRO-PLANTA</title>
</head>
{% endblock%}
{% block content%}
<div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Registro de Plantas Secundarias</h1>
      <form class="contact-form mt-5" action="" method="post">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col-sm-6 py-2 wow fadeInLeft">
            <label >Nombre</label>
            {{form.nombre}}
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label >Código</label>
            {{form.codigo}}
          </div>
          <div class="col-sm-6 py-2 wow fadeInLeft">
            <label >Capacidad</label>
            {{form.capacidad}}
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label >Descripción</label>
            {{form.descripcion}}
          </div>
        </div>
        <button type="submit" class="btn btn-primary wow zoomIn">Registrar Planta</button>
      </form>
    </div>
</div>
{% endblock%}